@model JitsStore.ViewModel.Employees.EmployeeUpdateViewModel
@{

}

<h1>Update</h1>
<form method="post" action="Update" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Employee Id</label>
        <input type="text" class="form-control" asp-for="EmployeeId" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">BirthDate</label>
        <input type="text" class="form-control" asp-for="BirthDate">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">ContactType</label>
        <input type="text" class="form-control" asp-for="ContactType">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone</label>
        <input type="text" class="form-control" asp-for="Phone">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Salary</label>
        <input type="text" class="form-control" asp-for="Salary">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Employee">
        Delete
    </button>
</form>
