@model JitsStore.ViewModel.Customers.CustomerUpdateViewModel
@{

}

<h1>Update</h1>
<form method="post" action="Update" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Customer Id</label>
        <input type="text" class="form-control" asp-for="CustomerId" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">CustomerName</label>
        <input type="text" class="form-control" asp-for="CustomerName">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Age</label>
        <input type="text" class="form-control" asp-for="Age">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Sex</label>
        <input type="number" class="form-control" asp-for="Sex">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone</label>
        <input type="text" class="form-control" asp-for="Phone">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Customer">
        Delete
    </button>
</form>
